@using WebApplication.Extensions
@using Vereyon.Web


@Styles.Render("~/AdminLTE/plugins/datatables/css")
@Styles.Render("~/AdminLTE/plugins/datepicker/css")
@Styles.Render("~/AdminLTE/plugins/daterangepicker/css")
@Styles.Render("~/AdminLTE/dist/css")
@Styles.Render("~/AdminLTE/dist/css/skins")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="~/Admin/Cliente?Id=0">
                Agregar Cliente
            </a>
        </div>


    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"> <strong>Clientes</strong></h3>
                </div>
                <div class="box-body">
                    <table id="dataTbl" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="dt-center">id</th>
                                <th class="dt-center">Razon Social</th>
                                <th class="dt-center">RFC</th>
                                <th class="dt-center">Calle</th>

                                <th class="dt-center">Colonia</th>
                                <th class="dt-center">Municipio</th>
                                <th class="dt-center">Estado</th>
                                <th class="dt-center">Codigo Postal</th>
                                <th class="dt-center">Telefono</th>
                                <th class="dt-center">Contacto</th>
                                <th class="dt-center">Correo</th>
                                <th class="dt-center">Cobranza</th>
                                <th class="dt-center">Estatus</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>



        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Admin/Clientes")
}
