@using WebApplication.Extensions
@using Vereyon.Web


@Styles.Render("~/AdminLTE/plugins/datatables/css")
@Styles.Render("~/AdminLTE/plugins/datepicker/css")
@Styles.Render("~/AdminLTE/plugins/daterangepicker/css")
@Styles.Render("~/AdminLTE/dist/css")
@Styles.Render("~/AdminLTE/dist/css/skins")


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" href="~/Admin/Marca?Id=0">
                Agregar Marca
            </a>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> <strong>Marcas</strong></h3>
                </div>
                <div class="box-body">
                    <table id="dataTbl" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="dt-center">Marca</th>
                                <th class="dt-center">Estatus</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    var urlMarca = "/Admin/Marca";
    var urlGetMarcas = "/Admin/GetMarcas";
</script>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Admin/Marcas")
}
