@model App.Model.SucursalesModel
@{
    ViewBag.Title = "Sucursal";
    ViewBag.SubTitle = "";
}

@section Menu {
    @Scripts.Render("~/Scripts/Forms/General/menu")
}

@Styles.Render("~/AdminLTE/plugins/datepicker/css")
@Styles.Render("~/AdminLTE/plugins/select2/css")
@Styles.Render("~/AdminLTE/dist/css")
@Styles.Render("~/AdminLTE/dist/css/skins")


<div class="row">

    <div class="col-md-12">
        <div class="box box-primary">

           
            @using (Html.BeginForm("Sucursal", "Admin", FormMethod.Post, new { role = "form", id = "frmSucursal", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="box-header with-border" style="margin-top:10px;">

                        <div class="row ">

                            <div class="col-md-8">
                                <div class="form-group has-feedback">
                                    <label class="text-left">Id Sucursal:</label>
                                    @Html.TextBoxFor(m => m.sucursal_id, new { @class = "form-control", @id = "sucursal_id", @ReadOnly = "true", @name = "sucursal_id", @style = "width:400px;" })
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-feedback">
                                    <label class="text-left">Nombre:</label>
                                    @Html.TextBoxFor(m => m.sucursal_nombre, new { @class = "form-control", @id = "sucursal_nombre", @name = "sucursal_nombre", @style = "width:400px;" })
                                </div>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group has-feedback">
                                    <label>Activo:</label>
                                    @Html.CheckBoxFor(m => m.ActivoChk, new { @checked = "checked", @id = "activo" })
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="box-footer" style="text-align:right !important;">
                        <button type="submit" id="btnSubmit" class="btn btn-primary right">Grabar</button>
                    </div>
                    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center;height:5px;">

                    </div>
                }
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @Scripts.Render("~/AdminLTE/plugins/jquery-validate/js")
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @Scripts.Render("~/Scripts/Admin/Sucursal")
}
