@model App.Model.InversionesModel

@{
    ViewBag.Title = "Inversiones";
    ViewBag.SubTitle = "";
}

@section Menu {
    @Scripts.Render("~/Scripts/Forms/General/menu")
}

@Styles.Render("~/AdminLTE/bootstrap/css")
@Styles.Render("~/AdminLTE/dist/css")
@Styles.Render("~/AdminLTE/plugins/datepicker/css")
@Styles.Render("~/AdminLTE/plugins/select2/css")
@Styles.Render("~/AdminLTE/dist/css")
@Styles.Render("~/AdminLTE/dist/css/skins")


<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">

            @using (Html.BeginForm("Inversion", "Contabilidad", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="box-header with-border" style="margin-top:10px;">

                    <div class="col-md-10">
                        <div class="form-group has-feedback">
                            <label class="text-left">Id Inversion:</label>
                            @Html.TextBoxFor(m => m.inversion_id, new { @class = "form-control", @id = "inversion_id", @Readonly = "true", @name = "inversion_id", @style = "width:400px;" })
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="form-group has-feedback">
                            <label class="text-left">Clave:</label>
                            @Html.TextBoxFor(m => m.inversion_clave, new { @class = "form-control", @id = "inversion_clave", @name = "inversion_clave", @style = "width:400px;" })
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="form-group has-feedback">
                            <label class="text-left">Descripcion:</label>
                            @Html.TextBoxFor(m => m.inversion_descripcion, new { @class = "form-control", @id = "inversion_descripcion", @name = "inversion_descripcion", @style = "width:400px;" })
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="form-group has-feedback">
                            <label>Activo:</label>
                            @Html.CheckBoxFor(m => m.ActivoChk, new { @checked = "checked", @id = "activo" })
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="form-group has-feedback">
                            <label class="text-left">Fecha Alta</label>
                            @Html.TextBoxFor(m => m.inversion_fecha_alta, new { @class = "form-control", @id = "inversion_fecha_alta", @Readonly = "true", @style = "width:400px;" })
                        </div>
                    </div>



                </div>

                <div class="box-footer" style="text-align:right !important;">
                    <button type="submit" id="btnSubmit" class="btn btn-primary right">Grabar</button>
                </div>
                <div style="display:flex; flex-direction: row; justify-content: center; align-items: center;height:5px;">

                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @Scripts.Render("~/AdminLTE/plugins/jquery-validate/js")
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @Scripts.Render("~/Scripts/Contabilidad/Inversion")
}




